@model PasswordResetViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer LocString

<h2>Reset Password</h2>

<br />
<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Message != null)
        {
        <h2> @ViewBag.Message </h2> <br />
        }
        <form asp-action="reset_password" asp-route-guid="@ViewBag.Guid" method="post">
            <div class="form-group">
                <label asp-for="Password">@LocString["Password"]:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation">@LocString["ConfirmPassword"]:</label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Change</button>
        </form>
        <br />
        <div asp-validation-summary="All"></div>
    </div>
</div>
